<!DOCTYPE html>
<html lang="en">
<%- include('partials/head.ejs') %>  <!-- va sin la barra '/' antes de 'partials' -->
<body>
    <input name="key" onkeyup="checkKey(value, 1);" >

    <a href="/formAgregarAfiliado">Agregar afiliado</a>

    <section id="seccion-busqueda" >No hay coincidencias</section>
    <section id="confirm"></section>

    <div class="container">
        <div class="row">
            <div class="col">
                <table class="table" id="tabla-resultadosBusqueda"></table>
                <div id="footer-tabla"></div>
            </div>
        </div>
    </div>


    <script src="/scripts/buscadorRealTime.js" ></script>
</body>
</html>