<!DOCTYPE html>
<html lang="en">
    <%- include('partials/head.ejs') %>
<body>
    <% familiares.map(f  => { %>
        <h3>Nombre: <%=f.nombre%></h3>
        <p>Apellido: <%=f.apellido%></p>
        <p>Edad: <%=f.edad%></p>
    <% }) %>
</body>
</html>