<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
    href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css"
    rel="stylesheet"
    integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC"
    crossorigin="anonymous"
    />
    <link href="/css/styles.css" rel="stylesheet" type="text/css" />
    <title>Software Sindicato San Martín</title>
</head>
  
  <body>
    <navbar class="navbar navbar-dark bg-dark mb-4">
      <div class="container">
        <h1 class="navbar-brand">FORMULARIO DE PRUEBA MONGODB</h1>
      </div>
    </navbar>
    
    <div class="container">
      <div class="row">
        <div class="col-md-5">
          <div class="container">
            <div class="flexbox ">      <form id="form-afiliado">
              <input id="nombre" type="text" name="nombre" placeholder="Nombre" />
              <input id="apellido" type="text" name="apellido" placeholder="Apellido" />
              <input id="edad" type="text" name="edad" placeholder="Edad" />
              <input id="dni" type="text" name="dni" placeholder="DNI" />
              <div type="button" class="btn btn-primary btn-familiar" onclick="postForm(); agregarFamiliarForm(); ocultarBotones();">AGREGAR FAMILIAR</div>
              <div type="button" class="btn btn-primary btn-familiar" onclick="postForm(); desactivarBotones();">ENVIAR</div>
            </form>
          </div>
        </div>
        

</container>
<script src="/scripts/scripts.js"></script>
<script src="/scripts/accionesBotones.js"></script>
<script src="/scripts/postForms.js"></script>
</body>
</html>
