<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <link
        href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css"
        rel="stylesheet"
        integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC"
        crossorigin="anonymous"
        />
        <link href="/css/styles.css" rel="stylesheet" type="text/css" />
        <title>Software Sindicato San Martín</title>
    </head>
<body>

<nav class="navbar navbar-light bg-light navbar-expand-lg">
    <a class="navbar-brand" href="#">Index</a>
        <ul class="navbar-nav mr-auto">
            <li class="nav-item"><a class="nav-link" href="#">Buscador</a></li>
            <li class="nav-item"><a class="nav-link" href="#">Hola</a></li>
            <li class="nav-item"><a class="nav-link" href="#">Importar/Exportar</a></li>
            <li class="nav-item"><a class="nav-link" href="#">Imprimir</a></li>
            <li class="nav-item"><input name="key" onkeyup="checkKey(value, 1);"></li>
        </ul>
</nav>

    <a href="/formAgregarAfiliado">Agregar afiliado</a>

    <section id="seccion-busqueda" >No hay coincidencias</section>
    <section id="confirm"></section>

    <div class="container">
        <div class="row">
            <div class="col">
                <table class="table" id="tabla-resultadosBusqueda"></table>
                <div id="footer-tabla"></div>
            </div>
        </div>
    </div>


    <script src="/scripts/buscadorRealTime.js" ></script>
    <script src="/scripts/checkConfirm.js"></script>
    <script src="/scripts/scripts.js"></script>
</body>
<%- include('partials/footer.ejs'); %>
</html>