<!DOCTYPE html>
<html lang="en">
    <%- include('partials/head.ejs') %>
<body>

    <table>
        <thead>
            <tr>
                <th>Nombre</th>
                <th>Apellido</th>
                <th>Edad</th>
                <th>DNI</th>
            </tr>
        </thead>
        <tbody>
            <% afiliados.map( afi => { %>
                <tr>
                    <td>Nombre: <%= afi.nombre %></td>
                    <td>Apellido: <%= afi.apellido %></td>
                    <td>Edad: <%= afi.edad %></td>
                </tr>
            <% }) %>        
        </tbody>
    </table>
    
</body>
</html>