body{
    background-color: #fdfdfd;
}

.disabled{
    pointer-events: none;
    opacity: 0.4;
}

.pag-actual{
    background-color: red;
}


.footer{
    position: absolute;
    bottom: 0px;
    width: 100%
}
